@font-face {
    font-family: Custom;
    src: url("../font/fontastique.ttf");
}

@font-face {
    font-family: Custom2;
    src: url("../font/PublicSans-VariableFont_wght.ttf");
}


*{
    margin: 0;
    padding: 0;
    font-family: Custom;
}

html{
    background-color: #252422;
}

header{
    background-color: #252422;
    color: #fffcf2;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h3{
    margin: 2rem 0;
}

main form{
    padding: 2rem;
    border: .1rem solid #ccc5b9;
    background-color: #fffcf2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

main form div{
    margin: 0 0 1rem 0;
}

main form div input{
    width: 12rem;
    height: 2rem;
}

main form p{
    align-self: center;
    text-align: center;
    color: #d9042b;
}

main form button{
    background-color: #eb5e28;
    color: #fffcf2;
    width: 6rem;
    height: 1.7rem;
    border: none;
    border-radius: 8px;
    transition: .3s ease;
    align-self: center;
}
main form button:hover{

    background-color: #6320ee;
    color: #fffcf2;
    box-shadow: 0 0 .2rem #8075ff;
}

footer{
    height: 20vh;
    background-color: #252422;
    color: #fffcf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 12rem;
}

footer p{
    letter-spacing: .2rem;
    font-family: Custom2;
}

hr{
    border-color: #6320ee;
    box-shadow: 0 0 .5rem #8075ff;
    width: 70vw;
    align-self: center;
    margin: 0 auto;
    border-radius: 12rem;
}