<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Passatempo</title>
        <link rel="stylesheet" href="../stylesheet/passatempo.css">
    </head>
    <body>
        <a href="#abrirModal">Open Modal</a>

        <div id="abrirModal" class="modal">
            <a href="#fechar" title="Fechar" class="fechar">x</a>
            <iframe src="../../projeto1/index.html" frameborder="0"></iframe>
        </div>

        
    </body>
</html>