<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration | Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <header>
        <h2>ArseniumGX | Portifólio</h2>
        <h3>Administração</h3>
    </header>
    <main>
        <form action="" method="POST" >
            <div>
                <label for="username">Usuário</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" id="password">
            </div>
            <button>Entrar</button>
        </form>
    </main>
    <footer>
        <img src="../static/img/marca.svg" alt="ArseniumGX marca">
        <p>Created by Jose P. Macedo &copy; 2021</p>
    </footer>
</body>
</html>