<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="../static/css/notFound.css">
</head>
<body>
    <main>
        <div>
            <p>Ops! Tivemos um problema aqui.</p>
            <P>A rota <strong>/{{slug}}</strong> não existe.</P>
            <p><a href="/">Click aqui</a> para voltar a página inicial.</p>
        </div>
        <img src="../static/img/notfound-otaku.png" alt="">
    </main>
</body>
</html>